{% extends 'dashboardAdmin.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <h1>Group</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ group.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ group.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ group.type }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ group.dateCreation ? group.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <h3> List of Members </h3>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Pays</th>
            <th>Ville</th>
            <th>Gender</th>
            <th>DateNaissance</th>
        </tr>
        </thead>
        <tbody>
        {% for part in group.Members %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.pays }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.Gender }}</td>
                <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_group_index') }}">back to list</a>


    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
